@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}
/* ===== FIX RIGHT SIDE WHITE SPACE BUG ===== */
html, body {
  overflow-x: hidden !important;
  width: 100%;
}

#root {
  overflow-x: hidden;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.container,
.container-fluid {
  max-width: 100% !important;
  overflow-x: hidden;
}

img, video, iframe {
  max-width: 100%;
  height: auto;
}
/* ===== FIX HEADER LOGO TEXT CUTTING ===== */
.navbar-brand {
  font-size: 14px !important;
  line-height: 1.2 !important;
  white-space: normal !important;
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 13px !important;
    padding-left: 5px !important;
  }
}

.navbar-toggler-icon {
  width: 21px !important;
  height: 21px !important;
}
